.Order-product {
    background-color: lightgray;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

h3 {
    display: inline;
    margin-right: 5px;
}

.Order-category {
    display: block;
}

.Order-remove {
    float: right;
}